TIMESCALE_DATABASE_URL=postgres://tsdbadmin:zevphn0e675bs6lf@r027jcdwwk.tswdu18qwn.tsdb.cloud.timescale.com:39501/tsdb?sslmode=require
MAIN_DATABASE_URL=postgresql://neondb_owner:npg_asbce1uj0JNQ@ep-cold-sunset-azua3lpd-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SIMULATOR_API=http://localhost:4000
SIMULATOR_WS=ws://localhost:4000/stream
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO